html{
    max-width: 100%;
    overflow-y: hidden;
}
*,*::after,*::before{
    box-sizing: border-box;
}
body{
    background-color: rgb(247, 251, 255);
    color:rgb(54, 54, 54);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.body-container{
    height:100vh;
}
.color-box{
    border:1px solid #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom:3rem;
    padding:0.5rem 0rem;
    background-color: #000;
}
.color{
    font-size: 2rem;
    letter-spacing: 3px;
    color:#fff;
    padding:0;
}